@{
    ViewData["Title"] = "About";
}

<!-- Top banner -->
<div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">@ViewData["Title"]</h1>
    <div class="row center">
        <h5 class="header col s12 light">Use this page to detail your company info.</h5>
    </div>
    <br>
    <br>
</div>
