@{
    ViewData["Title"] = "Home Page";
}

<!-- Top banner -->
<div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">Lorem Ipsum</h1>
    <div class="row center">
        <h5 class="header col s12 light">Aliquam aliquam ultricies turpis eu auctor. Nulla vitae leo a lacus ultricies cursus non sed mauris. Morbi dictum tincidunt neque.</h5>
    </div>
    <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br>
    <br>
</div>