@model Firma.Data.Data.CMS.Strona
@{
    ViewData["Title"] = Model.Tytul;
}

<!-- Top banner -->
<div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">@Model.Tytul</h1>
    @*renderowanie HTML ze stringa*@
    @Html.Raw(Model.Tresc)
    <br>
    <br>
</div>

<!-- Content -->
<div class="container">
    @await Html.PartialAsync("Aktualnosci",(IEnumerable<Firma.Data.Data.CMS.Aktualnosc>)ViewBag.ModelAktualnosci)
</div>

<div class="container">
    <div class="section">
        <p>Data i godzina edycji: @DateTime.Now.ToString()</p>
    </div>
</div>