@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Top banner -->
<div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">@ViewData["Title"]</h1>
    <div class="row center">
        <h5 class="header col s12 light">Use this page to detail your site's privacy policy.</h5>
    </div>
    <br>
    <br>
</div>

<!-- Content -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/img/privacy-1.jpg">
                        <span class="card-title">Quisque consequat</span>
                    </div>
                    <div class="card-content">
                        <p>Donec lacinia nisi aliquet tellus tristique, porttitor finibus lacus condimentum. Integer tempor tortor eget metus volutpat tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/img/privacy-2.jpg">
                        <span class="card-title">Phasellus a ligula</span>
                    </div>
                    <div class="card-content">
                        <p>Maecenas rutrum convallis nisl, id viverra ante mollis id. Nam eget nisl libero. In scelerisque, lorem non semper mattis, libero quam.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/img/privacy-3.jpg">
                        <span class="card-title">Donec lacinia nisi</span>
                    </div>
                    <div class="card-content">
                        <p>Nullam vel tristique eros, vel cursus risus. Morbi a erat vel ex pretium malesuada fermentum at odio. Donec ultricies elit vestibulum auctor.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/img/privacy-4.jpg">
                        <span class="card-title">Nam eget nisl libero</span>
                    </div>
                    <div class="card-content">
                        <p>Phasellus a ligula eget risus hendrerit vehicula. Quisque consequat lacus eget sem suscipit condimentum. Donec sed viverra ante.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Space row -->
<div class="row">
</div>