@model IEnumerable<Firma.Data.Data.Sklep.Towar>
@{
    ViewData["Title"] = "Sklep";
    @*
        Layout = "~/Views/Shared/_SklepLayout.cshtml";
        Może być pełna ścieżka z roszczerzeniem pliku lub
        tylko nazwa layoutu, koniecznie bez rozszerzenia
    *@
    Layout = "_SklepLayout";
}

<div>
    Displaying data from a given category
</div>
